<div id="bodyContainer">
    <div id="headerContainer">    
        <div class="navbar">
            <a id="backBtn" (click)="previousPage()"><fa-icon id="back" [icon]="back"></fa-icon></a>
            <p id="title" *ngFor="let m of movies | slice:0:1;">{{m.title}}</p>           
        </div>
    </div>
    <div id="playerContainer">
        <iframe [src]="trailer | safe" width="80%" height="80%">
        </iframe>
        <br>
        
    </div>
    <div id="movie-details" *ngFor="let m of movies | slice:0:1;">
        <div id="synopsis">
            <h3>Overview:</h3>
            <p>{{m.synopsis}}</p>
        </div>
        <div>
            <h3>Genres:</h3>
            <div *ngFor="let genre of m.genres"><span>{{genre}}</span></div>
        </div>
        <div>
            <h3>Director:</h3>
            <p>{{m.director}}</p>
        </div>
        <div>
            <h3>Actors:</h3>
            <div *ngFor="let actor of m.actor"><span>{{actor}}</span></div>
        </div>
  </div>
</div>